In [1]:
import pandas as pd

In [2]:
series1 = pd.Series([1,2,3,4])
print(series1)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
series2 = pd.Series([6,7,8,9])
add = series1+series2
sub = series1-series2
mul = series1*series2
div = series1/series2
print("Addition:",add)
print("Subtraction:",sub)
print("multiplication:",mul)
print("division",div)

Addition: 0     7
1     9
2    11
3    13
dtype: int64
Subtraction: 0   -5
1   -5
2   -5
3   -5
dtype: int64
multiplication: 0     6
1    14
2    24
3    36
dtype: int64
division 0    0.166667
1    0.285714
2    0.375000
3    0.444444
dtype: float64

In [7]:
data = {'name':['Alice','Bob','charlie'],
       'Age':[23,45,66],
       'city':['Los angeles','florida','vegas']}
df = pd.DataFrame(data)
print(df)

      name  Age         city
0    Alice   23  Los angeles
1      Bob   45      florida
2  charlie   66        vegas

In [8]:
first = df.iloc[0]
print(first)

name          Alice
Age              23
city    Los angeles
Name: 0, dtype: object